
<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="sign-in-card">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span *ngIf="loginForm.get('email')?.hasError('required')">Email is required</span>
          <span *ngIf="loginForm.get('email')?.hasError('email')">Invalid email</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required minlength="5">
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required</span>
          <span *ngIf="loginForm.get('password')?.hasError('minlength')">Password should be at least 6 characters long</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
      <button mat-button mat-raised-button color="accent" (click)="this.router.navigate(['/sign-up'])">Sign UP</button>

    </form>
  </mat-card-content>
</mat-card>