/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.profile-card {
    margin: 3vh 20vh 3vh 20vh;
  }
  .job-card {
      margin: 3vh 20vh 3vh 20vh;
    }
  .jobs-container{
    justify-content: center;
    align-items: center;
  }

  .job-edit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .sign-in-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .profile-edit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .input{
  }
  